@import "tailwindcss";

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.623 0.214 259.815);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: var(--color-amber-500);
  --secondary-foreground: var(--color-amber-50);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.97 0.014 254.604);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.623 0.214 259.815);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-sans);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-input: var(--input);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --text-xs: 0.64rem;
  --text-xs--line-height: 0.8rem;
  --text-sm: 0.8rem;
  --text-sm-line-height: 1rem;
  --text-base: 1rem;
  --text-base-line-height: 1.25rem;
  --text-lg: 1.25rem;
  --text-lg-line-height: 1.563rem;
  --text-xl: 1.563rem;
  --text-xl-line-height: 1.953rem;
  --text-2xl: 1.953rem;
  --text-2xl-line-height: 2.441rem;
  --text-3xl: 2.441rem;
  --text-3xl-line-height: 3.052rem;
  --text-4xl: 3.052rem;
  --text-4xl-line-height: 3.815rem;
  --text-5xl: 3.815rem;
  --text-5xl-line-height: 4.768rem;
  --text-6xl: 4.768rem;
  --text-6xl-line-height: 5.96rem;
  --text-7xl: 5.96rem;
  --text-7xl-line-height: 7.45rem;
  --text-8xl: 7.45rem;
  --text-8xl-line-height: 9.313rem;
  --text-9xl: 9.313rem;
  --text-9xl-line-height: 11.641rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
}
